[submodule "External/ITK"]
	path = External/ITK
	url = http://itk.org/ITK.git
[submodule "External/CppNumericalSolvers"]
	path = External/CppNumericalSolvers
	url = https://github.com/spinicist/CppNumericalSolvers
[submodule "External/bats"]
	path = External/bats
	url = https://github.com/sstephenson/bats.git
[submodule "External/ceres-solver"]
	path = External/ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver
