[submodule "External/ITK"]
	path = External/ITK
	url = https://itk.org/ITK.git
[submodule "External/ceres-solver"]
	path = External/ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver
[submodule "External/eigen"]
	path = External/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
