Source: quit
Section: unknown
Priority: optional
Maintainer: Tobias C Wood <tobias@spinicist.org.uk>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.5
Homepage: https://github.com/spinicist/quit
#Vcs-Git: git://anonscm.debian.org/collab-maint/quit.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/quit.git;a=summary

Package: quit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
